<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingBasket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88F0B6B221B45B1C00D142BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F0B6C921B45B1D00D142BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F0B6D421B45B1D00D142BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
